.ppaltitle {
    justify-content: center;
    text-align: center;
    background-color:rgb(4, 165, 49);
    color: white;
    
}

.hmenu {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: rgb(4, 165, 49);
    
}



ion-row {
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 50%;
    margin-right: 50%;
   
    
}

.bing {
    background-color: rgb(4, 165, 49);
}

ion-text {
    color:blue;
    text-decoration-line: underline;
    
}