<ion-header [translucent]="true">
  <app-cabecera></app-cabecera>  
</ion-header>

<ion-content [fullscreen]="true" [style.visibility]="visible">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bienvenido, {{appComponent.nombre}}.
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button (click)="escanear()">Escanear</ion-button>
  
  <ion-card *ngIf="resultado">
    <ion-label>{{resultado}}</ion-label>
  </ion-card>

  <a *ngIf="resultado" href="mailto:{{correo}}?subject={{sujeto}}?body={{cuerpo}}">
    Enviar asistencia
  </a>

  <ion-button [routerLink]="['/generar']">Generar QR</ion-button>

  <ion-datetime locale="es-ES" presentation="date" [isDateEnabled]="isWeekday" [firstDayOfWeek]="1" [preferWheel]="false"></ion-datetime>
  <div scrolly="true" style="max-height: 40%;">
    <ion-list>
      <ion-item *ngFor="let fer of feriados">
        <ion-label>{{fer.title}} {{fer.date}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
